body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.hor-minimalist-b {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;
    background: #fff;
    margin: 15px;
    margin-top: auto;
    /*width: 480px;*/
    border-collapse: collapse;
    text-align: left;
}

    .hor-minimalist-b th {
        font-size: 14px;
        font-weight: normal;
        color: #039;
        padding: 10px 8px;
        border-bottom: 2px solid #0041B2;
    }

    .hor-minimalist-b td {
        border-bottom: 1px solid #efefef;
        color: #476066;
        padding: 6px 8px;
    }

    .hor-minimalist-b tbody tr:hover td {
        color: #009;
    }


