@Scripts.Render("~/bundles/jquery")


<div id="div-products">
    <table class="hor-minimalist-b">
        <thead>
            <tr>
                <th> Name</th>
                <th> Price</th>
                <th>Stock</th>
                <th>Quantity</th>
                <th>Add</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
        
    </table>
</div>
<br />
<div id="div-basket">
    <table class="hor-minimalist-b">
        <thead>
            <tr>
                <th> Item Name</th>
                <th> Quantity</th>
                <th> Price</th>
                <th> Remove</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <th></th>

            </tr>
           
        </tbody>
       <tfoot>
           <tr>
              
               <td colspan="3" style="text-align:right"><b>Total: £0.00</b></td>
           </tr>
       </tfoot>
    </table>
    
</div>
<script type="text/javascript">
    function getProducts() {
        var customerId = 1;

        //Do an AJAx Call here
       
        $.getJSON('/api/product')
        .done(function (data) {

            for (var i = 0; i < data.length; i++) {
                var product = data[i];

                var html = '<tr>' +
                                '<td>' + product.productName + '</td>' +
                                '<td>£' + product.productPrice + '</td>' +
                                '<td>' + product.stockQuantity + '</td>' +
                                '<td><input class="count" id="' + product.id + '" type="number" placeholder="0" min="1" max="' + product.stockQuantity + '" /></td>' +
                                '<td><button class="btn btn-xs" id="' + product.id + '"><b>+</b></button></td>' +
                           '</tr>'; 

                $("#div-products tbody").append(html);
               

            };

            $('.count').keydown(function () {
                return false;
            });

            $('.btn').click(function () {
                postProduct($(this).attr('id'));
            });
        });
    }

    function getBasket() {
        var customerId = 1;

        //Do an AJAx Call here       
        $.getJSON('/api/basket?customerId=' + customerId)
        .done(function (data) {

            $("#div-basket tbody").html("");
            $("#div-basket tfoot tr td").text('Total: £0.00')
            var sum = 0;
            for (var i = 0; i < data.length; i++) {
                var basket = data[i];

                var html = '<tr>' +
                                '<td>' + basket.productName + '</td>' +
                                '<td>' + basket.count + '</td>' +
                                '<td>£' + basket.totalPrice + '</td>' +

                                '<td><button class="btn btn-xs btndel" type="submit" id="' + basket.id + '"><b>x</b></button></td>' +
                           '</tr>';

                sum += basket.totalPrice;

                $("#div-basket tbody").append(html);

                $("#div-basket tfoot tr td").text('Total: £' + sum);

                $('.btndel').click(function () {
                    deleteProduct($(this).attr('id'));
                });
            };
        });
    }

    function postProduct(productId) {
        var customerId = 1;
        var count = $('input#' + productId).val();
        var product = { 'productId': productId, 'customerId': customerId, 'count': count };

        $.post('/api/basket', product, function () {
            getBasket();
        });

    }

    function deleteProduct(basketId) {
        var customerId = 1;
        var count = $('input#' + basketId).val();

        $.ajax({
            url: '/api/basket?id=' + basketId,
            type: 'DELETE',
            success: function (response) {
                getBasket();
            }
        });
    }

    $(document).ready(function () {

        getProducts();

        getBasket();
    });
</script>